.footer {
    padding: 40px 20px;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .footer-links {
    list-style: none;
    padding: 0px;
    margin: 20px 0;
    display:inline-flex;
    justify-content:initial;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 16px;
    font-weight: 500;
    color:black;
  }
  
  .footer-social-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }
  
  .footer-icon-container img {
    width: 40px;
    height: 36px;
    cursor: pointer;
    transition: transform 0.3s ease;
    filter: grayscale(20%);
  }
  
  .footer-icon-container img:hover {
    transform: scale(1.1);
    filter: none;
  }
  
  hr {
    margin: 20px auto;
    width: 80%;
    border: 0.5px solid #ccc;
  }
  
  .footer p {
    font-size: 14px;
    color: #555;
  }
  